<?php
return [
    'settings' => [

        'framework' => 'dappur', 
        
        'displayErrorDetails' => false,

        'db' => [
            'driver' => 'mysql', // Only MySQL Supported
            'host' => '', // Database Host
            'port' => 3306, // My SQL Port
            'database' => '', // Database Name
            'username' => '', // Database Username
            'password' => '', // Database Password
            'charset' => 'utf8',
            'collation' => 'utf8_general_ci',
            'prefix' => ''
        ], 
        'view' => [
            'template_path' => __DIR__ . '/../views/',
            'twig' => [
                'cache' => false, //__DIR__ . '/../../storage/cache/twig'
                'debug' => false,
                'auto_reload' => true,
            ],
        ],
        'logger' => [
            'name' => 'Dappur',
            'log_path' => __DIR__ . '/../../storage/log/monolog/dappur.log', // PATH_TO_LOG
            'le_token' => false, // Logentries Access Token
        ],
        'cloudinary' => [
            'enabled' => false, // Enable Cloudinary
            'cloud_name' => '', // Cloud Name
            'api_key' => '', // API Key
            'api_secret' => '', // API Secret
        ]
    ],
];