<footer class="footer">
  <div class="container-fluid">
    	<div class="jumbotron" style="padding-top: 25px;">
			<div class="col-md-4 h4 text-left" style="margin-top: 0px;">
				&copy; 2017 Bacon
			</div>
			<div class="col-md-4">
				
			</div>
			<div class="col-md-4 text-right">
				<a href="">Terms &amp; Conditions</a>
				&nbsp;&nbsp;|&nbsp;&nbsp; 
				<a href="">Privacy Policy</a>
			</div>
		</div>
  </div>
</footer>