{% extends 'base.twig' %}

{% block title %}{{config['site-name']}} || Dashboard{% endblock %}

{% block body %}
    <div class="container-fluid">
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header">
	                Dashboard <small>Overview</small>
	            </h1>
	            <ol class="breadcrumb">
	                <li class="active">
	                    <i class="fa fa-dashboard"></i> Dashboard
	                </li>
	            </ol>
	        </div>
	    </div>
	</div>
{% endblock %}