composer.phar
vendor/
storage/cache/twig/*
!storage/cache/twig/.gitkeep
storage/log/monolog/*
!storage/log/monolog/.gitkeep
storage/log/cron/*
!storage/log/cron/.gitkeep
storage/certs/*
!storage/certs/google/.gitkeep

public/uploads/*
!public/uploads/index.php
!public/uploads/.htaccess

settings.json
bower_components
node_modules

.phpintel

.vagrant