
{
    "framework": "dappur",
    "version": "2.1.3",
    "displayErrorDetails": false,
    "showInAdmin": false,
    "environment": "development",
    "db": {
        "development": {
            "driver": "mysql",
            "host": "localhost",
            "port": 3306,
            "database": "",
            "username": "",
            "password": "",
            "charset": "utf8",
            "collation": "utf8_general_ci",
            "prefix": "",
            "timezone": "+00:00"
        },
        "staging": {
            "driver": "mysql",
            "host": "localhost",
            "port": 3306,
            "database": "",
            "username": "",
            "password": "",
            "charset": "utf8",
            "collation": "utf8_general_ci",
            "prefix": "",
            "timezone": "+00:00"
        },
        "production": {
            "driver": "mysql",
            "host": "localhost",
            "port": 3306,
            "database": "",
            "username": "",
            "password": "",
            "charset": "utf8",
            "collation": "utf8_general_ci",
            "prefix": "",
            "timezone": "+00:00"
        }
    },
    "view": {
        "template_path": "../app/views/",
        "twig": {
            "cache": false,
            "debug": false,
            "auto_reload": true
        },
        "bootswatch": {
            "api_url" : "https://bootswatch.com/api/3.json"
        }
    },
    "csrf": {
        "prefix": "dappurcsrf",
        "storage_limit": 200,
        "strength": 32,
        "persist_tokens": false
    },
    "logger": {
        "log_name": "Dappur",
        "log_path": "../storage/log/monolog/",
        "log_file_name": "dappur.log",
        "le_token": ""
    },
    "cloudinary": {
        "enabled": false,
        "cloud_name": "",
        "api_key": "",
        "api_secret": ""
    },
    "deployment": {
        "enabled": false,
        "manual": false,
        "deploy_url": "deploy",
        "deploy_token": "",
        "repo_url": "",
        "repo_branch": ""
    },
    "mail": {
        "relay": "phpmail",
        "logging": true,
        "log_details": ["html", "plain_text"],
        "log_retention": 30,
        "mailgun": {
            "username": "",
            "password": ""
        }
    },
    "recaptcha": {
        "site_key": "",
        "secret_key": ""
    }
}