{
    "framework": "dappur",
    "version": "4.0.0-RC2",
    "displayErrorDetails": false,
    "environment": "development",
    "db": {
        "development": {
            "driver": "mysql",
            "host": "localhost",
            "port": 3306,
            "database": "framework",
            "username": "dappur",
            "password": "",
            "charset": "utf8mb4",
            "collation": "utf8mb4_unicode_520_ci",
            "prefix": "",
            "timezone": "+00:00"
        },
        "staging": {
            "driver": "mysql",
            "host": "localhost",
            "port": 3306,
            "database": "",
            "username": "",
            "password": "",
            "charset": "utf8mb4",
            "collation": "utf8mb4_unicode_520_ci",
            "prefix": "",
            "timezone": "+00:00"
        },
        "production": {
            "driver": "mysql",
            "host": "localhost",
            "port": 3306,
            "database": "",
            "username": "",
            "password": "",
            "charset": "utf8mb4",
            "collation": "utf8mb4_unicode_520_ci",
            "prefix": "",
            "timezone": "+00:00"
        }
    },
    "view": {
        "template_path": "../app/views/",
        "twig": {
            "cache": false,
            "debug": false,
            "auto_reload": true
        },
        "bootswatch": {
            "api_url" : "https://bootswatch.com/api/3.json"
        }
    },
    "csrf": {
        "prefix": "dappurcsrf",
        "storage_limit": 200,
        "strength": 32,
        "persist_tokens": false
    },
    "logger": {
        "log_name": "Dappur",
        "log_path": "../storage/log/monolog/",
        "log_file_name": "dappur.log",
        "le_token": ""
    },
    "cron": {
        "token": ""
    },
    "cloudinary": {
        "enabled": false,
        "cloud_name": "",
        "api_key": "",
        "api_secret": ""
    },
    "deployment": {
        "enabled": false,
        "manual": false,
        "deploy_url": "deploy",
        "deploy_token": "",
        "repo_url": "",
        "repo_branch": "master"
    },
    "mail": {
        "relay": "phpmail",
        "logging": true,
        "log_details": ["html", "plain_text"],
        "log_retention": 30,
        "smtp": {
            "host": "smtp.mailgun.org",
            "port": 587,
            "smtp_auth": true,
            "smtp_secure": "tls",
            "username": "",
            "password": ""
        }
    },
    "recaptcha": {
        "site_key": "",
        "secret_key": ""
    },
    "oauth2": {
        "facebook": {
            "client_id": "",
            "client_secret": "",
            "class": "\\Dappur\\Dappurware\\Oauth2\\Providers\\Facebook"
        },
        "google": {
            "client_id": "",
            "client_secret": "",
            "class": "\\Dappur\\Dappurware\\Oauth2\\Providers\\Google"
        },
        "twitter": {
            "client_id": "",
            "client_secret": "",
            "class": "\\Dappur\\Dappurware\\Oauth2\\Providers\\Twitter"
        },
        "linkedin": {
            "client_id": "",
            "client_secret": "",
            "class": "\\Dappur\\Dappurware\\Oauth2\\Providers\\Linkedin"
        },
        "github": {
            "client_id": "",
            "client_secret": "",
            "class": "\\Dappur\\Dappurware\\Oauth2\\Providers\\Github"
        },
        "instagram": {
            "client_id": "",
            "client_secret": "",
            "class": "\\Dappur\\Dappurware\\Oauth2\\Providers\\Instagram"
        },
        "microsoft": {
            "client_id": "",
            "client_secret": "",
            "class": "\\Dappur\\Dappurware\\Oauth2\\Providers\\Microsoft"
        }
    },
    "webhooks": {
        "mailgun": {
            "api_key": ""
        }
    }
}
