
/* Recaptcha
-------------------------------------------------- */
#recaptcha {
    width: 304px;
    margin: 0 auto;
}

.treeview-menu.in{
    display: block;
}

.config-edit {
	text-decoration: underline;
	cursor: pointer;
	color: blue;
}

.config-save {
	text-decoration: underline;
	cursor: pointer;
	color: green;
}

.config-saved {
	color: green;
}

.config-cancel {
	text-decoration: underline;
	cursor: pointer;
	color: red;
}

/* Responsive Video Container
-------------------------------------------------- */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0; 
	overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Grid Editor Containers Fix */
#contentRow .container {
    padding: 0;
    width: auto;
}