/* Responsive Video Container
-------------------------------------------------- */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0; 
	overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Hidden Element
-------------------------------------------------- */
.hidden{display:none;}

/* Recaptcha
-------------------------------------------------- */
#recaptcha {
    width: 304px;
    margin: 0 auto;
}

/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top: 60px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width:  767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -250px;
  }

  .row-offcanvas-left.active {
    left: -250px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: -250px;
    margin-left: 10px;
  }
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

.nav>li {
  margin-right: 20px;
}
