<div class="row">
    {% for name, messages in flash.getMessages() %}
        {% for message in messages %}
            <div class="col-lg-12">
                <div class="alert alert-{{ name }} alert-dismissable" style="margin-top: 15px;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
