<ul class="nav nav-sidebar">
    <li {% if currentRoute == '/dashboard' %}class="active"{% endif %}>
        <a href="{{ path_for('dashboard')}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
    </li>

    {% if auth.hasAccess('user.view') %}
    <li {% if currentRoute starts with '/dashboard/users' %}class="active"{% endif %}>
        <a href="{{ path_for('admin-users')}}"><i class="fa fa-fw fa-users"></i> User Management</a>
    </li>
    {% endif %}

    {% if not hasCloudinary and auth.hasAccess('media.local') %}
    <li {% if currentRoute starts with '/dashboard/media' %}class="active"{% endif %}>
        <a style="cursor: pointer;" id="media-menu"><i class="fa fa-cloud fa-fw"></i> Local CMS</a>
    </li>
    {% endif %}

    {% if hasCloudinary and auth.hasAccess('media.cloudinary') %}
    <li>
        <a style="cursor: pointer;" id="cloudinary-menu"><i class="fa fa-cloud fa-fw"></i> Cloudinary CMS</a>
    </li>
    {% endif %}

    {% if auth.hasAccess('config.view') %}
    <li {% if currentRoute starts with '/dashboard/settings' %}class="active"{% endif %}>
        <a href="{{ path_for('settings-global')}}"><i class="fa fa-cogs fa-fw"></i> Global Settings</a>
    </li>
    {% endif %}

    {% if currentRoute starts with '/dashboard/developer/settings' %}{% set selected = "inDeveloper" %}{% endif %}
    {% if auth.hasAccess('developer.view') %}
    <li {% if selected == "inDeveloper" %}class="active"{% endif %}>
        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-wrench"></i> Developer Tools <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="demo" class="collapse {% if selected == "inDeveloper" %}in{% endif %} nav">
            {% if auth.hasAccess('developer.settings.view') %}
                <li class="active">
                    <a href="{{ path_for('settings-developer')}}"><i class="fa fa-life-ring fa-fw"></i> Edit settings.json</a>
                </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
</ul>
