<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{ path_for('dashboard')}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>

            {% if auth.hasAccess('user.create') %}
            <li>
                <a href="{{ path_for('admin-users')}}"><i class="fa fa-fw fa-users"></i> User Management</a>
            </li>
            {% endif %}

            {% if auth.hasAccess('config.global') %}
            <li>
                <a href="{{ path_for('settings-global')}}"><i class="fa fa-cogs fa-fw"></i> Global Settings</a>
            </li>
            {% endif %}

            {% if hasCloudinary and auth.hasAccess('media.manage') %}
            <li>
                <a style="cursor: pointer;" id="openCloudinaryCms"><i class="fa fa-camera-retro fa-fw"></i> Media Library</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->