{% extends 'layout.twig' %}

{% block title %}
{{config['site-name']}}
{% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron">
    	{% if auth.user() %}
        Welcome, {{auth.user.first_name}} {{ auth.user.last_name }}!
        {% else %}
        <h1>Home Page</h1>
        {% endif %}
    </div>
</div>

{% endblock %}
