<footer class="main-footer">
    <strong>
    	Copyright &copy; {{ "now"|date("Y") }} <a href="https://{{config['domain']}}">{{ config['site-name'] }}</a>.
    </strong> 
    All rights reserved.
</footer>