{% extends 'base.twig' %}

{% block stylesheets %}
    {{ route.css|raw }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{{ route.content|raw }}
	</div>
{% endblock %}

{% block javascript %}
    {{ route.js|raw }}
{% endblock %}