{% extends 'base.twig' %}

{% block body %}
	<div class="container">
	    <div class="jumbotron" style="background-color: {{ pageConfig['home-paragraph-color'] }};">
	    	<div class="row">
		    	<div class="col-md-12" style="text-align: right;">
		    		{% if auth.user() %}
			        	Welcome, {{auth.user.first_name}} {{ auth.user.last_name }}!
			        {% endif %}
		    	</div>
		    </div>
	    	<div class="row">
		    	<div class="col-md-12">
		    		{{ pageConfig['home-paragraph']|raw }}
		    	</div>
		    </div>
	    </div>
	</div>
{% endblock %}
