{% extends 'base.twig' %}

{% block title %}
	{{config['site-name']}}
{% endblock %}

{% block body %}
	<div class="container">
	    <div class="jumbotron">
	    	<div class="row">
		    	<div class="col-md-12" style="text-align: right;">
		    		{% if auth.user() %}
			        	Welcome, {{auth.user.first_name}} {{ auth.user.last_name }}!
			        {% endif %}
		    	</div>
		    </div>

	    	<div class="row text-center">
	    		<div class="col-md-12">
	    			<h1>Home Page</h1>
	    		</div>
	    	</div>

	    	<div class="row">
		    	<div class="col-md-12">
		    		<p>
		    			Bacon ipsum dolor amet turducken venison short loin meatloaf bresaola bacon chuck tongue fatback flank picanha shankle pastrami rump. Short loin bresaola leberkas, ball tip filet mignon pork chop ground round flank chuck burgdoggen meatloaf andouille frankfurter venison turkey. Leberkas doner kevin picanha shank beef brisket drumstick pastrami jowl turducken burgdoggen ground round pork chop bacon. Pastrami hamburger tenderloin chicken sausage tail pork chop chuck ground round kielbasa sirloin burgdoggen jerky brisket.
		    		</p>

					<p>
						Andouille ribeye corned beef filet mignon rump brisket. Pancetta meatball doner, fatback ham beef shank picanha pork belly ground round shoulder kielbasa. Tenderloin fatback ham beef ribs t-bone, brisket chicken. Ground round kielbasa beef beef ribs, capicola jerky sirloin fatback meatloaf cupim ham.
					</p>

					<p>
						Corned beef picanha ground round burgdoggen, pork belly shoulder tongue pork loin doner. Kevin sausage pork loin strip steak salami. Boudin frankfurter shankle tongue drumstick strip steak sirloin salami leberkas. Chicken brisket bacon pork turducken t-bone. Shank meatloaf alcatra, landjaeger sausage venison picanha. Spare ribs porchetta drumstick ham hock jowl, ball tip pancetta tenderloin rump.
					</p>

					<p>
						Rump tail pork jerky burgdoggen pancetta ham hock chicken porchetta. Turducken beef ribs meatball ham. Ball tip tri-tip pancetta ham hock, landjaeger bacon spare ribs. Andouille hamburger cow jowl shankle bresaola pork t-bone turkey.
					</p>

					<p>
						Tail short loin sirloin biltong. Ball tip shank t-bone, venison doner prosciutto chuck corned beef cow brisket pork chop pork loin flank. Turducken jowl rump beef beef ribs strip steak bresaola meatloaf. Beef ribs short ribs pork belly, beef strip steak ball tip flank.
					</p>

					<p>
						Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
					</p>
		    	</div>
		    </div>
	    </div>
	</div>
{% endblock %}
