{% extends 'base.twig' %}

{% block body %}
	<div class="container">
	    <div class="jumbotron">

	    	<div class="row text-center">
	    		<div class="col-md-12">
	    			<h1>Maintenance Mode</h1>
	    		</div>
	    	</div>

	    	<div class="row text-center">
		    	<div class="col-md-12">
		    		<p>
		    			We are currently performing some maintenance and upgrades on our server.  We will be back shortly.  Sorry for any inconvenience.
		    		</p>
		    	</div>
		    </div>
	    </div>
	</div>
{% endblock %}
